.global_fixtures_gmfl5_header_text
{

    color: #5c6264;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 5px;
}

.global_fixtures_gmfl5_table_header_text
{

    color: #ffffff;
    font-size: 18px;
    position: absolute;

}

.global_fixtures_gmfl5_table_text
{

    color: #5c6264;
    font-size: 14px;
    text-align: right;
}



.global_fixtures_gmfl5_tech_specs_header
{

    color: #5c6264;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.global_fixtures_gel40fl1_tech_specs_paragraph
{
    position: absolute;
    font-family: "gel_tablet_gothic", "Trebuchet MS", sans-serif;
    color: #5c6264;
    font-size: 13px;
    text-align: left;
    top: 20px;
    left: 0;
}




#global_fixtures_gmfl5_side_bar
{
    position: absolute;
    top: 140px;
    height: 1841px;
    width: 508px;
    /* border: 1px solid red; */
}


#global_fixtures_gmfl5_side_bar_product
{
    position: absolute;
    left: 0;
    top: 0;

}


#global_fixtures_gmfl5_lamp_wire_diagram_header
{
    top: 365px;
}


#global_fixtures_gmfl5_side_bar_lamp_wire_diagram
{
    position: absolute;
    left: 0;
    top: 404px;

}




#global_fixtures_gmfl5_right_container
{
    position: absolute;
    right: 0;
    top: 140px;
    width: 770px;
    height: 1588px;
}

#global_fixtures_gmfl5_right_lamp_char_bg
{
    position: absolute;
    top: 0;
    left: 0;
}

.global_fixtures_gmfl5_lamp_characteristics_table_1
{
    position: absolute;
    top: 46px;
    left: 14px;
    width: 746px;
    height: 20px;
}


.global_fixtures_gmfl5_lamp_characteristics_table_2
{
    position: absolute;
    top: 80px;
    left: 14px;
    width: 746px;
    height: 20px;
}


.global_fixtures_gmfl5_lamp_characteristics_table_3
{

    position: absolute;
    top: 112px;
    left: 14px;
    width: 746px;
    height: 20px;

}

.global_fixtures_gmfl5_lamp_characteristics_table_4
{
    position: absolute;
    top: 144px;
    left: 14px;
    width: 746px;
    height: 20px;
}

.global_fixtures_gmfl5_lamp_characteristics_table_5
{
    position: absolute;
    top: 177px;
    left: 14px;
    width: 746px;
    height: 20px;
}

.global_fixtures_gmfl5_lamp_characteristics_table_6
{
    position: absolute;
    top: 209px;
    left: 14px;
    width: 746px;
    height: 20px;
}

.global_fixtures_gmfl5_lamp_characteristics_table_7
{
    position: absolute;
    top: 242px;
    left: 14px;
    width: 746px;
    height: 20px;
}

.global_fixtures_gmfl5_lamp_characteristics_table_8
{
    position: absolute;
    top: 275px;
    left: 14px;
    width: 746px;
    height: 20px;
}

.global_fixtures_gmfl5_lamp_characteristics_table_9
{
    position: absolute;
    top: 309px;
    left: 14px;
    width: 746px;
    height: 20px;
}

.global_fixtures_gmfl5_lamp_characteristics_table_10
{
    position: absolute;
    top: 340px;
    left: 14px;
    width: 746px;
    height: 20px;
}



.global_fixtures_gmfl5_lamp_characteristics_table_11
{
    position: absolute;
    top:375px;
    left: 14px;
    width: 746px;
    height: 20px;
}

.global_fixtures_gmfl5_lamp_characteristics_table_12
{
    position: absolute;
    top: 408px;
    left: 14px;
    width: 746px;
    height: 20px;
}

.global_fixtures_gmfl5_lamp_characteristics_table_13
{
    position: absolute;
    top: 440px;
    left: 14px;
    width: 746px;
    height: 20px;
}

.global_fixtures_gmfl5_lamp_characteristics_table_14
{
    position: absolute;
    top: 475px;
    left: 14px;
    width: 746px;
    height: 20px;
}

.global_fixtures_gmfl5_lamp_characteristics_table_15
{
    position: absolute;
    top: 508px;
    left: 14px;
    width: 746px;
    height: 20px;
}


.global_fixtures_gmfl5_table_header_container
{
    position: absolute;
    top: 9px;
    width: 721px;
    left: 14px;
    height: 20px;
    z-index: 2;

}

.global_fixtures_gmfl5_caracteristics_header_1
{
    position: absolute;
    left: 340px;
}

.global_fixtures_gmfl5_caracteristics_header_2
{
    position: absolute;
    right: 225px;
}

.global_fixtures_gmfl5_caracteristics_header_3
{
    position: absolute;
    right: 185px;

}

.global_fixtures_gmfl5_caracteristics_header_4
{
    position: absolute;
    right: 0;
}

.global_fixtures_gmfl5_table_col_1
{
    position: absolute;
    left: 0;
    width: 320px;
    height: 18px;
    text-align: left;
    z-index: 2;
    /* border: 1px solid red; */

}
.global_fixtures_gmfl5_table_col_2
{
    position: absolute;
    left: 320px;
    width: 100px;
    height: 18px;
    z-index: 2;
    /* border: 1px solid red; */

}

.global_fixtures_gmfl5_table_col_3
{
    position: absolute;
    width: 100px;
    height: 18px;
    right: 215px;
    z-index: 2;
    /* border: 1px solid red; */

}

.global_fixtures_gmfl5_table_col_4
{
    position: absolute;
    right: 107px;
    width: 100px;
    height: 18px;
    z-index: 2;
    /* border: 1px solid red; */

}

.global_fixtures_gmfl5_table_col_5
{
    position: absolute;
    right: 0;
    width: 470px;
    height: 18px;
    z-index: 2;
    /* border: 1px solid red; */
}

#global_fixtures_gmfl5_right_lamp_char_container
{
    width: 770px;
    height: 366px;
    position: absolute;
    top: 0;
    /* border: 1px solid red; */

}

#leg_gmfl5_right_tech_specs_container
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1022px;
    z-index: 3;
}

#global_fixtures_gmfl5_right_lamp_tech_specs_bg
{
    position: absolute;
    bottom: 0;
    left: 0;
}




#global_fixtures_gmfl5_tech_specs_left_container
{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 350px;
    height: 988px;
}


#global_fixtures_gmfl5_tech_specs_right_container
{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 350px;
    height: 988px;
}


#global_fixtures_gmfl5_tech_specs_p1
 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
 }


#global_fixtures_gmfl5_tech_specs_p2
{
    position: absolute;
    top: 57px;
    width: 100%;
    height: 55px;
}


#global_fixtures_gmfl5_tech_specs_p3
{
    position: absolute;
    top: 130px;
    width: 100%;
    height: 40px;
}

#global_fixtures_gmfl5_tech_specs_p4
{
    position: absolute;
    top: 185px;
    width: 100%;
    height: 40px;
}

#global_fixtures_gmfl5_tech_specs_p5
{
    position: absolute;
    top: 239px;
    width: 100%;
    height: 40px;
}

#global_fixtures_gmfl5_tech_specs_p6
{
    position: absolute;
    top: 294px;
    width: 100%;
    height: 55px;
}

#global_fixtures_gmfl5_tech_specs_p7
{
    position: absolute;
    top: 369px;
    width: 100%;
    height: 40px;
}

#global_fixtures_gmfl5_tech_specs_p8
{
    position: absolute;
    top: 422px;
    width: 100%;
    height: 40px;
}

#global_fixtures_gmfl5_tech_specs_p9
{
    position: absolute;
    top: 476px;
    width: 100%;
    height: 40px;
}

#global_fixtures_gmfl5_tech_specs_p10
{
    position: absolute;
    top: 532px;
    width: 100%;
    height: 40px;
}

#global_fixtures_gmfl5_tech_specs_p11
{
    position: absolute;
    top: 587px;
    width: 100%;
    height: 40px;
}

#global_fixtures_gmfl5_tech_specs_p12
{
    position: absolute;
    top: 641px;
    width: 100%;
    height: 40px;
}

#global_fixtures_gmfl5_tech_specs_p13
{
    position: absolute;
    top: 697px;
    width: 100%;
    height: 55px;
}

#global_fixtures_gmfl5_tech_specs_p14
{
    position: absolute;
    top: 770px;
    width: 100%;
    height: 55px;
}

#global_fixtures_gmfl5_tech_specs_p15
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
}

#global_fixtures_gmfl5_tech_specs_p16
{
    position: absolute;
    top: 92px;
    width: 100%;
    height: 70px;
}

#global_fixtures_gmfl5_tech_specs_p17
{
    position: absolute;
    top: 162px;
    width: 100%;
    height: 50px;
}

#global_fixtures_gmfl5_tech_specs_p18
{
    position: absolute;
    top: 220px;
    width: 100%;
    height: 50px;
}

#global_fixtures_gmfl5_tech_specs_p19
{
    position: absolute;
    top: 273px;
    width: 100%;
    height: 50px;
}

#global_fixtures_gmfl5_tech_specs_p20
{
    position: absolute;
    top: 330px;
    width: 100%;
    height: 70px;
}

#global_fixtures_gmfl5_tech_specs_p21
{
    position: absolute;
    top: 416px;
    width: 100%;
    height: 50px;
}

#global_fixtures_gmfl5_tech_specs_p22
{
    position: absolute;
    top: 473px;
    width: 100%;
    height: 85px;
}

#global_fixtures_gmfl5_tech_specs_p23
{
    position: absolute;
    top: 580px;
    width: 100%;
    height: 49px;
}

#global_fixtures_gmfl5_tech_specs_p24
{
    position: absolute;
    top: 650px;
    width: 100%;
    height: 105px;
}

#global_fixtures_gmfl5_tech_specs_p25
{
    position: absolute;
    top: 772px;
    width: 100%;
    height: 65px;
}

#global_fixtures_gmfl5_tech_specs_p26
{
    position: absolute;
    top: 861px;
    width: 100%;
    height: 35px;
}

#global_fixtures_gmfl5_tech_specs_p27
{
    position: absolute;
    top: 917px;
    width: 100%;
    height: 70px;
}