#error_container
{
    width: 1304px;
    height: 1200px;
    position: absolute;
    top: 175px;

}



#error_not_found
{

    font-size: 48px;
    color: #5c6264;
    position: absolute;
    top: 150px;
    left: 535px;
}

#error_sorry_message
{

    font-size: 24px;
    color: #5c6264;
    position: absolute;
    top: 90px;
    left: 265px;
}

#error_list_header
{
    font-size: 24px;
    color: #5c6264;
    position: absolute;
    top: 200px;
    left: 440px;
}


#error_list
{

    font-size: 24px;
    color: #5c6264;
    position: absolute;
    top: 250px;
    left: 540px;

}

#error_instructions
{
    font-size: 24px;
    color: #5c6264;
    position: absolute;
    top: 350px;
    left: 466px;
}