#products_led_solutions_container
{
    height: 474px;
    width: 407px;
}


#products_led_solutions_top_image
{
    position: absolute;
    top: 0;
}
#products_led_solutions_upper_container
{
    position: absolute;
    top: 0;
    height: 272px;
    width: 100%;
}


#products_led_solutions_logo
{
    position: absolute;
    bottom: 20px;
    left: 20px;
}


#products_led_solutions_lower_container
{
    position: absolute;
    bottom: 0;
    height: 197px;
    width: 100%;
}

#products_led_solutions_lower_container_text
{
    position: absolute;
    font-family: "gel_tablet_gothic_light", 'Trebuchet MS',  sans-serif;
    color: #4a5055;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    top: 0;
    left: 20px;
    height: 100%;
    width: 360px;
}

#products_led_solutions_lower_text
{
    position: absolute;
    top: 20px;
}