#resources_hidden_body_container
{
    position: relative;
    width: 2560px;
    left: 50%;
    margin-left: -1304px;
    height:793px;
    top:112px;
    overflow: hidden;
}

#resources_body_container_1
{
    position: relative;
    width: 1304px;
    height: 793px;
    display: inline-block;
    margin-left: 652px;

}

#resources_body_container_2
{
    position: relative;
    width: 1304px;
    height: 793px;
    display: inline-block;


}


#resources_body_container_3
{
    position: relative;
    width: 1304px;
    height: 793px;
    display: inline-block;
}


.resources_item
{
    height: 113px;
    width: 1304px;
    position: relative;

}

.resources_item_dots
{
    position: absolute;
    bottom: 0;
    left: 0;
    width:1295px;
    height: 1px;
}

.resource_item_icon {
    position: absolute;
    right: 100px;
    bottom: 50px;
    width: 34px;
    height: 34px;

}

.resources_item_header_text_container
{
    position: relative;
    width: 1000px;
    height: 20px;
    left: 15px;
    top: 15px;
}
.resources_item_header_text
{
    color: #5c6264;
    font-size: 19px;
    font-weight: bold;
}

.resource_item_overview_text_container
{
    position: relative;
    left: 15px;
    margin-top: 20px;
    width: 1000px;
    height: 20px;

}


.resource_item_overview_text
{
    color: #5c6264;
    font-size: 17px;
    margin-top: 15px;

}

.resource_item_link_container
{
    position: relative;
    left: 15px;
    width: 500px;
    height: 13px;
    margin-top: 10px;
}


.resource_item_link
{
    color: #009fda;
    font-size: 11px;
    left: 15px;

}


#resources_page_selector_container
{
    position: absolute;
    top: 35px;
    right: 40px;
    width: 185px;
    height: 25px;
    color: #5c6264;
    font-size: 15px;
}


#resources_page_selector_previous
{
    position: absolute;
    top: 0;
    left: 0;

}


.resources_page_link
{
    position: absolute;
    top: 0;
    left: 80px;
}


#resources_page_link_p2
{
    position: absolute;
    left: 20px;
}

#resources_page_link_p3
{
    position: absolute;
    left: 40px;
}
#resources_page_selector_next
{
    position: absolute;
    right: 0;
    top: 0;
}