#ceramatek_indepth_top_menu_bar
{
    position: absolute;

    width: 1304px;
    /* height: 36px; */
    height: 36px;
    top: 70px;
    left: 0;
    z-index: 2;
}

#ceramatek_indepth_wattage_selector
{
    position: absolute;
    top: 0;
    left: 0;
}

.ceramatek_indepth_top_menu_bar_text
{
    
    color: white;
    font-size: 16px;
    font-weight: normal;
}

.ceramatek_indepth_top_menu_bar_text:hover
{
    color: #f12727;
}



#ceramatek_indepth_top_wattage_bar_text
{
    position: absolute;
    top: 10px;
    left: 16px;
    width: 473px;
    height: 16px;

}

#ceramatek_indepth_top_menu_bar_45W
{
    position: absolute;
    top: 0;
    left: 0;
}


#ceramatek_indepth_top_menu_bar_60W
{
    position: absolute;
    top: 0;
    left: 67px;


}

#ceramatek_indepth_top_menu_bar_90W
{
    position: absolute;
    top: 0;
    left: 135px;

}

#ceramatek_indepth_top_menu_bar_140W
{
    position: absolute;
    top: 0;
    left: 205px;

}


#ceramatek_indepth_top_menu_bar_210W
{
    position: absolute;
    top: 0;
    right: 152px;

}

#ceramatek_indepth_top_menu_bar_315W
{
    position: absolute;
    top: 0;
    right: 76px;

}

#ceramatek_indepth_top_menu_bar_375W
{

    position: absolute;
    top: 0;
    right: 0;
}


#ceramatek_indepth_top_menu_right_bar
{
    position: absolute;
    width: 768px;
    height: 100%;
    right: 0;
}


#ceramatek_indepth_place_order
{
    position: absolute;
    left: 0;
    top: 0;
}


#ceramatek_indepth_dl_spec_sheet
{
    position: absolute;
    left: 250px;
    top: 0;
}




#ceramatek_indepth_install_instructions
{
    position: absolute;
    right: 0;
    top: 0;
}

#ceramatek_indepth_top_menu_bar_place_order
{
    position: absolute;
    top: 11px;
    left: 25px;

}


#ceramatek_indepth_top_menu_bar_spec_sheet
{
    position: absolute;
    top: 11px;
    color: white;
    left: 280px;
}

#ceramatek_indepth_top_menu_bar_spec_sheet:hover
{
    color: #f12727;
}

#ceramatek_indepth_top_menu_bar_install_instructions
{
    position: absolute;
    right: 28px;
    top: 11px;
}