#cs_sm_container
{
    width: 419px;
    /* border: 1px solid blue; */
    height: 1200px;
}


#cs_sm_header_text_container
{
    width: 100%;
    height: 42px;
    font-weight: bold;
    color: #5c6264;
    font-size: 30px;
    /* border: 1px solid blue; */
}


#cs_sm_boise_airport_view_case_study
{
    z-index: 7;
}
#cs_sm_case_study_initial_base
{
    position: absolute;
    height: 581px;
    width: 100%;
    top: 42px;
    /* border: 1px solid blue; */
    background-color: #ffffff;
    z-index: 2;

}


#cs_sm_case_study_hidden_container
{


    position: absolute;
    top: 597px;
    width: 100%;
    height: 575px;
    /* border: 1px solid blue; */
    display: none;

}
.cs_sm_view_more_cs_link_container
{
    position: absolute;
    bottom: 0;
    height: 38px;
    width: 100%;
    /* border: 1px solid blue; */
}

.cs_sm_vcs_text
{
    position: absolute;
    bottom: 10px;
    left: 11px;
    color: #99a1a4;
    font-size: 12px;
    text-decoration: underline;

}




.cs_sm_view_more_cs_link
{
    font-size: 14px;
    color: #99a1a4;
    position: absolute;
    bottom: 5px;
    left: 110px;
    z-index: 2;

}



/* OC Infiniti Start. */
#oc_infiniti_container
{
    position: absolute;
    top: 0;
    height: 137px;
    width: 100%;
    /* border: 1px solid blue; */

}


#cs_sm_oc_infiniti_upper_dotted_lines
{
    position: absolute;
    top: 0;


}

#cs_sm_oc_infiniti_left_container
{
    position: absolute;
    left: 11px;
    top: 10px;
    height: 134px;
    width: 145px;
}



#cs_sm_oc_infiniti_left_oci
{
    position: absolute;
    top: 0;
    left: 0;
}




#cs_sm_oc_infiniti_right_container
{
    position: absolute;
    top: 10px;
    right: 30px;
    width:235px;
    height:115px;
}


#cs_sm_oc_infiniti_right_text_header
{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #5c6264;

}

#cs_sm_oc_infiniti_right_text_paragraph
{
    position: absolute;
    top: 26px;
    left: 0;
    text-align: justify;
    color: #99a1a4;
    font-size: 13px;

}


#cs_sm_oc_infiniti_right_lower_container
{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -5px;
}



#cs_sm_oc_infiniti_right_lower_pencil
{
    position: absolute;
    left: 0;
    bottom: 5px;
}

#cs_sm_oc_infiniti_right_lower_date
{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #99a1a4;
    font-size: 14px;
}


#cs_sm_oc_infiniti_bottom_dotted_lines
{
    position: absolute;
    bottom: 0;
}






/* Brandon Dodge Start . */
#brandon_dodge_container
{
    position: absolute;
    top: 136px;
    height: 137px;
    width: 100%;
    /* border: 1px solid blue; */

}


#cs_sm_brandon_dodge_upper_dotted_lines
{
    position: absolute;
    top: 0;


}

#cs_sm_brandon_dodge_left_container
{
    position: absolute;
    left: 11px;
    top: 10px;
    height: 134px;
    width: 145px;
}



#cs_sm_brandon_dodge_left
{
    position: absolute;
    top: 0;
    left: 0;
}




#cs_sm_brandon_dodge_right_container
{
    position: absolute;
    top: 10px;
    right: 30px;
    width:235px;
    height:115px;
}


#cs_sm_brandon_dodge_right_text_header
{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #5c6264;

}

#cs_sm_brandon_dodge_right_text_paragraph
{
    position: absolute;
    top: 26px;
    left: 0;
    text-align: justify;
    color: #99a1a4;
    font-size: 13px;

}


#cs_sm_brandon_dodge_right_lower_container
{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -5px;
}



#cs_sm_brandon_dodge_right_lower_pencil
{
    position: absolute;
    left: 0;
    bottom: 5px;
}

#cs_sm_brandon_dodge_right_lower_date
{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #99a1a4;
    font-size: 14px;
}


#cs_sm_brandon_dodge_bottom_dotted_lines
{
    position: absolute;
    bottom: 0;
}
/* End Brandon Dodge */






/* Boise Airport Start . */
#boise_airport_container
{
    position: absolute;
    top: 273px;
    height: 137px;
    width: 100%;
    /* border: 1px solid blue; */

}


#cs_sm_boise_airport_upper_dotted_lines
{
    position: absolute;
    top: 0;


}

#cs_sm_boise_airport_left_container
{
    position: absolute;
    left: 11px;
    top: 10px;
    height: 134px;
    width: 145px;
}



#cs_sm_boise_airport_left
{
    position: absolute;
    top: 0;
    left: 0;
}




#cs_sm_boise_airport_right_container
{
    position: absolute;
    top: 10px;
    right: 30px;
    width:235px;
    height:115px;
}


#cs_sm_boise_airport_right_text_header
{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #5c6264;

}

#cs_sm_boise_airport_right_text_paragraph
{
    position: absolute;
    top: 26px;
    left: 0;
    text-align: justify;
    color: #99a1a4;
    font-size: 13px;

}


#cs_sm_boise_airport_right_lower_container
{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -5px;
}



#cs_sm_boise_airport_right_lower_pencil
{
    position: absolute;
    left: 0;
    bottom: 5px;
}

#cs_sm_boise_airport_right_lower_date
{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #99a1a4;
    font-size: 14px;
}


#cs_sm_boise_airport_bottom_dotted_lines
{
    position: absolute;
    bottom: 0;
}
/* End Boise Airport */


/* Idaho Department of correction. */
#cs_sm_idoc_container
{
    position: absolute;
    top: 408px;
    height: 147px;
    width: 100%;
    /* border: 1px solid blue; */
}

#cs_sm_idoc_container_1
{
    position: absolute;
    top: 0;
    height: 147px;
    width: 100%;
    z-index: 2;
    /* border: 1px solid blue; */
}


#cs_sm_idoc_upper_dotted_lines
{
    position: absolute;
    top: 0;


}

#cs_sm_idoc_left_container
{
    position: absolute;
    left: 11px;
    top: 10px;
    height: 134px;
    width: 145px;
}



#cs_sm_idoc_left_idoc
{
    position: absolute;
    top: 0;
    left: 0;
}




#cs_sm_idoc_right_container
{
    position: absolute;
    top: 10px;
    right: 30px;
    width:235px;
    height:115px;
}


#cs_sm_idoc_right_text_header
{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #5c6264;

}

#cs_sm_idoc_right_text_paragraph
{
    position: absolute;
    top: 26px;
    left: 0;
    text-align: justify;
    color: #99a1a4;
    font-size: 13px;

}


#cs_sm_idoc_right_lower_container
{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -17px;
}


#cs_sm_idoc_right_lower_pencil
{
    position: absolute;
    left: 0;
    bottom: 5px;
}

#cs_sm_idoc_right_lower_date
{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #99a1a4;
    font-size: 14px;
}


#cs_sm_idoc_bottom_dotted_lines
{
    position: absolute;
    bottom: 0;
}


/* End IDOC */



#cs_sm_more_dotted_lines
{
    position: absolute;
    top: 0;
}

/* Boise Airport Arrivals */
#cs_sm_boise_airport_arrivals_container
{
    position: absolute;
    top: -14px;
    height: 147px;
    z-index: 2;
    width: 100%;
    /* border: 1px solid blue; */
}

#cs_sm_boise_airport_arrivals_container_1
{
    position: absolute;
    top: 0;
    height: 147px;
    width: 100%;
    /* border: 1px solid blue; */
}


#cs_sm_boise_airport_arrivals_upper_dotted_lines
{
    position: absolute;
    top: 0;


}

#cs_sm_boise_airport_arrivals_left_container
{
    position: absolute;
    left: 11px;
    top: 24px;
    height: 134px;
    width: 145px;
}



#cs_sm_boise_airport_arrivals_left_idoc
{
    position: absolute;
    top: 0;
    left: 0;
}




#cs_sm_boise_airport_arrivals_right_container
{
    position: absolute;
    top: 22px;
    right: 30px;
    width:235px;
    height:115px;
}


#cs_sm_boise_airport_arrivals_right_text_header
{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #5c6264;

}

#cs_sm_boise_airport_arrivals_right_text_paragraph
{
    position: absolute;
    top: 26px;
    left: 0;
    text-align: justify;
    color: #99a1a4;
    font-size: 13px;

}


#cs_sm_boise_airport_arrivals_right_lower_container
{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -5px;
}






#cs_sm_boise_airport_arrivals_right_lower_pencil
{
    position: absolute;
    left: 0;
    bottom: 5px;
}

#cs_sm_boise_airport_arrivals_right_lower_date
{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #99a1a4;
    font-size: 14px;
}


#cs_sm_boise_airport_arrivals_bottom_dotted_lines
{
    position: absolute;
    bottom: 0;
}


/* End Boise Airport Arrivals */

/* Boise Airport Ticketing */
#cs_sm_boise_airport_ticketing_container
{
    position: absolute;
    top: 119px;
    height: 147px;
    z-index: 2;
    width: 100%;
    /* border: 1px solid blue; */
}

#cs_sm_boise_airport_ticketing_container_1
{
    position: absolute;
    top: 0;
    height: 147px;
    width: 100%;
    /* border: 1px solid blue; */
}


#cs_sm_boise_airport_ticketing_upper_dotted_lines
{
    position: absolute;
    top: 0;


}

#cs_sm_boise_airport_ticketing_left_container
{
    position: absolute;
    left: 11px;
    top: 24px;
    height: 134px;
    width: 145px;
}



#cs_sm_boise_airport_ticketing_left_idoc
{
    position: absolute;
    top: 0;
    left: 0;
}




#cs_sm_boise_airport_ticketing_right_container
{
    position: absolute;
    top: 22px;
    right: 30px;
    width:235px;
    height:115px;
}


#cs_sm_boise_airport_ticketing_right_text_header
{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #5c6264;

}

#cs_sm_boise_airport_ticketing_right_text_paragraph
{
    position: absolute;
    top: 26px;
    left: 0;
    text-align: justify;
    color: #99a1a4;
    font-size: 13px;

}


#cs_sm_boise_airport_ticketing_right_lower_container
{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -5px;
}


#cs_sm_boise_airport_ticketing_right_lower_pencil
{
    position: absolute;
    left: 0;
    bottom: 5px;
}

#cs_sm_boise_airport_ticketing_right_lower_date
{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #99a1a4;
    font-size: 14px;
}


#cs_sm_boise_airport_ticketing_bottom_dotted_lines
{
    position: absolute;
    bottom: 0;
}


/* End Boise Airport Ticketing */

/* Reese */
#cs_sm_reese_container
{
    position: absolute;
    top: 252px;
    height: 147px;
    z-index: 2;
    width: 100%;
    /* border: 1px solid blue; */
}

#cs_sm_reese_container_1
{
    position: absolute;
    top: 0;
    height: 147px;
    width: 100%;
    /* border: 1px solid blue; */
}


#cs_sm_reese_upper_dotted_lines
{
    position: absolute;
    top: 0;


}

#cs_sm_reese_left_container
{
    position: absolute;
    left: 11px;
    top: 24px;
    height: 134px;
    width: 145px;
}



#cs_sm_reese_left_idoc
{
    position: absolute;
    top: 0;
    left: 0;
}




#cs_sm_reese_right_container
{
    position: absolute;
    top: 22px;
    right: 30px;
    width:235px;
    height:115px;
}


#cs_sm_reese_right_text_header
{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #5c6264;

}

#cs_sm_reese_right_text_paragraph
{
    position: absolute;
    top: 26px;
    left: 0;
    text-align: justify;
    color: #99a1a4;
    font-size: 13px;

}


#cs_sm_reese_right_lower_container
{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -5px;
}


#cs_sm_reese_right_lower_pencil
{
    position: absolute;
    left: 0;
    bottom: 5px;
}

#cs_sm_reese_right_lower_date
{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #99a1a4;
    font-size: 14px;
}


#cs_sm_reese_bottom_dotted_lines
{
    position: absolute;
    bottom: 0;
}


/* End Reese */

/* Genco Start */

#cs_sm_genco_container
{
    position: absolute;
    top: 385px;
    height: 147px;
    z-index: 2;
    width: 100%;
    /* border: 1px solid blue; */
}

#cs_sm_genco_container_1
{
    position: absolute;
    top: 0;
    height: 147px;
    width: 100%;
    /* border: 1px solid blue; */
}


#cs_sm_genco_upper_dotted_lines
{
    position: absolute;
    top: 0;


}

#cs_sm_genco_left_container
{
    position: absolute;
    left: 11px;
    top: 24px;
    height: 134px;
    width: 145px;
}



#cs_sm_genco_left_idoc
{
    position: absolute;
    top: 0;
    left: 0;
}




#cs_sm_genco_right_container
{
    position: absolute;
    top: 22px;
    right: 30px;
    width:235px;
    height:115px;
}


#cs_sm_genco_right_text_header
{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #5c6264;

}

#cs_sm_genco_right_text_paragraph
{
    position: absolute;
    top: 26px;
    left: 0;
    text-align: justify;
    color: #99a1a4;
    font-size: 13px;

}


#cs_sm_genco_right_lower_container
{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -5px;
}


#cs_sm_genco_right_lower_pencil
{
    position: absolute;
    left: 0;
    bottom: 5px;
}

#cs_sm_genco_right_lower_date
{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #99a1a4;
    font-size: 14px;
}


#cs_sm_genco_bottom_dotted_lines
{
    position: absolute;
    bottom: 0;
}


/* End Genco */

/* Hazleton Start */

#cs_sm_hazleton_container
{
    position: absolute;
    top: 518px;
    height: 147px;
    z-index: 2;
    width: 100%;
    /* border: 1px solid blue; */
}

#cs_sm_hazleton_container_1
{
    position: absolute;
    top: 0;
    height: 147px;
    width: 100%;
    /* border: 1px solid blue; */
}


#cs_sm_hazleton_upper_dotted_lines
{
    position: absolute;
    top: 0;


}

#cs_sm_hazleton_left_container
{
    position: absolute;
    left: 11px;
    top: 24px;
    height: 134px;
    width: 145px;
}



#cs_sm_hazleton_left_idoc
{
    position: absolute;
    top: 0;
    left: 0;
}




#cs_sm_hazleton_right_container
{
    position: absolute;
    top: 22px;
    right: 30px;
    width:235px;
    height:115px;
}


#cs_sm_hazleton_right_text_header
{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #5c6264;

}

#cs_sm_hazleton_right_text_paragraph
{
    position: absolute;
    top: 26px;
    left: 0;
    text-align: justify;
    color: #99a1a4;
    font-size: 13px;

}


#cs_sm_hazleton_right_lower_container
{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -5px;
}


#cs_sm_hazleton_right_lower_pencil
{
    position: absolute;
    left: 0;
    bottom: 5px;
}

#cs_sm_hazleton_right_lower_date
{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #99a1a4;
    font-size: 14px;
}


#cs_sm_hazleton_bottom_dotted_lines
{
    position: absolute;
    bottom: 0;
}


/* End Hazleton */

/* Parking Start */

#cs_sm_parking_container
{
    position: absolute;
    top: 651px;
    height: 147px;
    z-index: 2;
    width: 100%;
    /* border: 1px solid blue; */
}

#cs_sm_parking_container_1
{
    position: absolute;
    top: 0;
    height: 147px;
    width: 100%;
    /* border: 1px solid blue; */
}


#cs_sm_parking_upper_dotted_lines
{
    position: absolute;
    top: 0;


}

#cs_sm_parking_left_container
{
    position: absolute;
    left: 11px;
    top: 24px;
    height: 134px;
    width: 145px;
}



#cs_sm_parking_left_idoc
{
    position: absolute;
    top: 0;
    left: 0;
}




#cs_sm_parking_right_container
{
    position: absolute;
    top: 22px;
    right: 30px;
    width:235px;
    height:115px;
}


#cs_sm_parking_right_text_header
{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #5c6264;

}

#cs_sm_parking_right_text_paragraph
{
    position: absolute;
    top: 26px;
    left: 0;
    text-align: justify;
    color: #99a1a4;
    font-size: 13px;

}


#cs_sm_parking_right_lower_container
{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -5px;
}


#cs_sm_parking_right_lower_pencil
{
    position: absolute;
    left: 0;
    bottom: 5px;
}

#cs_sm_parking_right_lower_date
{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #99a1a4;
    font-size: 14px;
}


#cs_sm_parking_bottom_dotted_lines
{
    position: absolute;
    bottom: 0;
}


/* End Parking  */

/* Parkway Start */

#cs_sm_parkway_container
{
    position: absolute;
    top: 784px;
    height: 147px;
    z-index: 2;
    width: 100%;
    /* border: 1px solid blue; */
}

#cs_sm_parkway_container_1
{
    position: absolute;
    top: 0;
    height: 147px;
    width: 100%;
    /* border: 1px solid blue; */
}


#cs_sm_parkway_upper_dotted_lines
{
    position: absolute;
    top: 0;


}

#cs_sm_parkway_left_container
{
    position: absolute;
    left: 11px;
    top: 24px;
    height: 134px;
    width: 145px;
}



#cs_sm_parkway_left_idoc
{
    position: absolute;
    top: 0;
    left: 0;
}




#cs_sm_parkway_right_container
{
    position: absolute;
    top: 22px;
    right: 30px;
    width:235px;
    height:115px;
}


#cs_sm_parkway_right_text_header
{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #5c6264;

}

#cs_sm_parkway_right_text_paragraph
{
    position: absolute;
    top: 26px;
    left: 0;
    text-align: justify;
    color: #99a1a4;
    font-size: 13px;

}


#cs_sm_parkway_right_lower_container
{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -5px;
}


#cs_sm_parkway_right_lower_pencil
{
    position: absolute;
    left: 0;
    bottom: 5px;
}

#cs_sm_parkway_right_lower_date
{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #99a1a4;
    font-size: 14px;
}


#cs_sm_parkway_bottom_dotted_lines
{
    position: absolute;
    bottom: 0;
}


/* End Parkway  */