#led_indepth_top_menu_exterior
{
    position: absolute;
    width: 509px;
    height: 36px;
    display: none;
}




#led_indepth_top_wattage_bar_text_exterior
{
    position: absolute;
    top: 10px;
    left: 35px;
    width: 455px;
    height: 16px;

}



#led_indepth_top_menu_bar_exterior_grid_view
{
    position: absolute;
    left: 0;
    top: 3px;
}


#led_menu_exterior_divider_1
{
    position: absolute;
    left: 105px;
    top: 5px;
}


#led_indepth_top_menu_bar_exterior_120w
{
    position: absolute;
    left: 75px;
    top: 3px;
}

#led_menu_exterior_divider_2
{
    position: absolute;
    left: 155px;
    top: 5px;
}

#led_indepth_top_menu_bar_exterior_150w
{
    position: absolute;
    left: 125px;
    top: 3px;
}

#led_menu_exterior_divider_3
{
    position: absolute;
    left: 205px;
    top: 5px;
}


#led_indepth_top_menu_bar_exterior_240w
{
    position: absolute;
    left: 177px;
    top: 3px;
}

#led_menu_exterior_divider_4
{
    position: absolute;
    left: 260px;
    top: 5px;
}


#led_indepth_top_menu_bar_exterior_300w
{
    position: absolute;
    left: 232px;
    top: 3px;
}
