
#global_fixtures_grid_grwl1_rollover_wrapper
{
    position: absolute;
    width: 511px;
    height: 474px;
    top: 10px;
    left: 285px;
    z-index: 1;
    display: none;

}


a:hover #global_fixtures_grid_grwl1_container
{
    width: 288px;
    height: 316px;
    -moz-box-shadow: 1px 1px 5px #c6c6c6;
    -webkit-box-shadow: 1px 1px 5px #c6c6c6;
    box-shadow: 1px 1px 5px #c6c6c6;

}

#global_fixtures_grid_grwl1_bg
{
    position: absolute;
    top: 0;
    left: 0;
}

#global_fixtures_grid_grwl1_product
{
    position: absolute;
    left: 50px;
    bottom: 50px;

}

#global_fixtures_grid_grwl1_text
{
    font-family: "gel_tablet_gothic", "Trebuchet MS", sans-serif;
    color: #99a1a4;
    font-size: 16px;
    position: absolute;
    bottom: 13px;
    left: 0px;
    width: 287px;
    text-align: center;
}