#quartztek_grid_750W_rollover_container
{
    width: 463px;
    height: 474px;
    position: absolute;
    top: 45px;
    right: 10px;
}

#quartztek_grid_750W_rollover_bottom_container
{
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 438px;
    height: 236px;
}

#quartztek_grid_750W_rollover_dial
{
    position: absolute;
    top: -16px;
    left: -12px;
}


#quartztek_grid_750W_rollover_arrows
{
    position: absolute;
    bottom: 21px;
    left: 216px;
}

.quartztek_grid_750W_rollover_text
{

    text-align: justify;
}

#quartztek_grid_750W_rollover_top_container
{
    position: absolute;
    top: 13px;
    left: 13px;
    width: 436px;
    height: 195px;
}

#quartztek_grid_750W_rollover_top_header_text
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    color: #5c6264;

}

#quartztek_grid_750W_rollover_top_paragraph_text
{
    position: absolute;
    line-height: 17px;
    font-size: 14px;
    color: #99a1a4;
    width: 100%;
    height: 78px;
    top: 40px;

}

#quartztek_grid_750W_rollover_top_header_lower_text
{
    position: absolute;
    left: 0;
    bottom: 50px;
    font-size: 18px;
    color: #5c6264;

}

#quartztek_grid_750W_rollover_top_paragraph_lower_text
{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    color: #99a1a4;

}